<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pushwing"
    android:versionCode="6"
    android:versionName="1.00.04" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.pushwing.ui.Intro"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pushwing.ui.Main_0101"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.pushwing.ui.Main_0102"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.pushwing.ui.setting.Setting_0101"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- 구글 애드몹 -->
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <!-- GCM RegId 변경시 서버로 재송신 하는 서비스 -->
        <service
            android:name="com.pushwing.GCMRegIdChangeService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.pushwing.GCMRegIdChangeService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- GCM RegID 변경시 서버로 재송신 하기 위해 재부팅시 서비스를 실행시키는 브로드캐스트리시버 -->
        <receiver
            android:name="com.pushwing.RestartService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" >
            <intent-filter>
                <action android:name="ACTION.Restart.GCMRegIdChangeService" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- GCM 리시버에서 돌리는 서비스 -->
        <!-- 서비스명 변경하면 안됨 -->
        <service android:name="com.pushwing.GCMIntentService" />

        <!-- 구글 서버에 Registration 요청에 대한 응답을 받는 receiver -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.pushwing" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE" />

    <!-- push 서비스 사용을 위한 필수 permission -->
    <permission
        android:name="com.pushwing.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.pushwing.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- GCM을 받으려면 구글 계정 필요 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- 메시지 받을 때 wake up 하기 위해 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>