/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
div.jqmAlert { /* contains + positions the alert window */
  display: none;
  
  position: fixed;
  top: 17%;
  width: 100%;
}

* html div.jqmAlert {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

div.jqmAlertWindow {
  height:auto;
  width: auto;
  margin: auto;
  
  max-width:600px;
  padding: 0 10px 10px;
  
  background:#ffffff;
  border:1px dotted #000;
}

.jqmAlertTitle{
  margin:5px 2px;
  height:20px;
  color:#000000;
  background:#ffffff;
}
.jqmAlertTitle h1{
  margin:5px 2px;
  padding-left:5px;
  padding:0;
  font-size:14px;
  text-transform:capitalize;
  letter-spacing:-1px;
  font-weight:bold;
  color:#000000;

  float:left;
  height:20px;
}

div.jqmAlert .jqmClose em{display:none;}
div.jqmAlert .jqmClose {
  width:20px;
  height:20px;
  display:block;
  float:right;
  clear:right;
  background:transparent url(http://hbuilder.com/images/close_icon_double.png) 0 0 no-repeat;
}

div.jqmAlert a.jqmClose:hover,div.jqmAlert a.jqmCloseHover{ background-position: 0 -20px; }

div.jqmAlertContent{
  border-top:px;
  color:#000000;
  font:11px/14pt arial;
  padding:5px 20px 5px;
  margin:5px;
  /* border:1px dotted #111; */
  letter-spacing:0px;
  background:#ffffff; 
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

